<div class="course-card">

    <div class="course-code">
        {{ course.courseCode }}
    </div>

    <div class="course-name">
        {{ course.courseName }}
    </div>

    <div class="course-points">
        {{ course.points | number:'1.0-1' }} hp
    </div>

    <div class="course-subject">
        {{ course.subject }}
    </div>

    @if (showAddButton) {
    <app-button type="button" (click)="addCourse.emit(course)">
        Lägg till
    </app-button>
    }

    @if (!showAddButton) {
    <app-button type="submit">
        Ta bort
    </app-button>
    }

</div>