 <nav>
    <ul>
      <li><a routerLink="home" routerLinkActive="current">Startsida</a></li>
      <li><a routerLink="courses" routerLinkActive="current">Kurser</a></li>
      <li><a routerLink="login" routerLinkActive="current">Logga in</a></li>
      <li><button type="button" (click)="logout()">
              Logga ut
          </button></li>
      <li><a routerLink="register" routerLinkActive="current">Registrera</a></li>
      <li><a routerLink="my-schedule" routerLinkActive="current">Schema</a></li>
    </ul>
  </nav>
